<div class="container mt-4">
  <mat-card *ngIf="graficoID == 0">
    <mat-card-header>Monitor</mat-card-header>
    <mat-card-content>
      <div class="table-responsive">
        <table class="w-100">
          <thead>
            <tr>
              <th *ngFor="let columnName of encabezados">{{ columnName }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of datos" [ngClass]="{'red-row': item['Estado Operativo'] !== 'LISTO','green-row': item['Estado Operativo'] == 'LISTO'}">
              <td *ngFor="let columnName of encabezados" style="padding: 0px 10px !important;">
                <ng-container *ngIf="columnName === 'INICIO'; else fechaColumn">
                  <!-- Lógica para cuando el encabezado es "INICIO" -->
                  {{ item[columnName] | date : "dd/MM/YYYY hh:mm:ss":"GMT / UTC"}}
                </ng-container>
                <ng-template #fechaColumn>
                  <ng-container *ngIf="columnName === 'Fecha y Hora'; else usuarioIdColumn">
                    <!-- Lógica para cuando el encabezado es "FECHA" -->
                    {{ item[columnName] | date : "dd/MM/YYYY hh:mm:ss":"GMT / UTC" }}
                  </ng-container>
                  <ng-template #usuarioIdColumn>
                    <ng-container *ngIf="columnName === 'Logout'; else quitPausa">
                      <mat-button-toggle-group>
                        <mat-button-toggle (click)="DesloguearUsuario(item[columnName])">
                          <mat-icon class="text-success" title="Desloguear Agente">exit_to_app</mat-icon>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                    </ng-container>
                    <ng-template #quitPausa>
                      <ng-container *ngIf="columnName === 'Quitar Pausa'; else otherColumn">
                        <mat-button-toggle-group [disabled]="item['Estado Operativo'] == 'LISTO'">
                          <mat-button-toggle  (click)="QuitarPausaUsuario(item[columnName], item['Estado Operativo'])">
                            <mat-icon class="text-info" title="Quitar la pausa del Agente">play_arrow</mat-icon>
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                      </ng-container>
                    </ng-template>
                    <ng-template #otherColumn>
                      {{ item[columnName] }}
                    </ng-template>
                  </ng-template>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="graficoID == 1">
    <mat-card-header></mat-card-header>
    <!-- [scheme]="colorScheme" -->
    <mat-card-content>
      <!-- <ngx-charts-bar-vertical-2d
            [view]="view"
            
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [legendTitle]="legendTitle"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d> -->

      <!-- [scheme]="colorScheme" -->
      <!-- [xAxisLabel]="xAxisLabel" -->
      <ngx-charts-bar-vertical [view]="view" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </mat-card-content>
  </mat-card>
</div>