<!-- <h1>Reporte de Monitores</h1>
<table class="table">
  <thead>
    <tr>
      <th>FECHA INICIO</th>
      <th>ESTADOOPERATIVOID</th>
      <th>ESTADOOPERATIVO</th>
      <th>USUARIO</th>
      <th>CARTERA</th>
    </tr>
  </thead>
  <tbody id="tabla-body">
      </tbody>
</table> -->
<div class="container mt-4">
  <mat-card *ngIf="graficoID == 0">
    <mat-card-header>Monitor</mat-card-header>
    <mat-card-content>
      <div class="table-responsive">
        <!-- <table class="table">
                    <thead>
                        <tr>
                            <th>FECHA Y HORA INICIO</th>
                            <th>ESTADOOPERATIVO</th>
                            <th>USUARIO</th>
                            <th>CARTERA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of datos" style="background-color: rgb(250, 137, 137);"
                            [ngClass]="{'fila-verde': item.ESTADOOPERATIVO === 'LISTO'}">
                            <td>
                                {{ item.INICIO | date : "dd/MM/YYYY" }}
                                {{ item.INICIO | date : "hh:mm:ss":"GMT / UTC" }}
                            </td>
                            <td>{{ item.ESTADOOPERATIVO }}</td>
                            <td>{{ item.USUARIO }}</td>
                            <td>{{ item.CARTERA }}</td>
                        </tr>
                    </tbody>
                </table> -->

        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let columnName of encabezados">{{ columnName }}</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let item of datos">
                        <div></div>
                        <td *ngFor="let columnName of encabezados">{{ item[columnName] }}</td>
                      </tr>
                    </tbody> -->
            <!-- <tbody>
                        <tr *ngFor="let item of datos">
                          <td *ngFor="let columnName of encabezados">
                            <ng-container *ngIf="columnName === 'INICIO'; else otherColumn">
                              {{ item[columnName] | date : "dd/MM/YYYY" }}
                            </ng-container>
                            <ng-template #otherColumn>
                              {{ item[columnName] }}
                            </ng-template>
                          </td>
                        </tr>
                      </tbody> -->

            <!-- <tbody>
            <tr *ngFor="let item of datos">
              <td *ngFor="let columnName of encabezados">
                <ng-container *ngIf="columnName === 'INICIO'; else fechaColumn">
                  {{ item[columnName] | date : "dd/MM/YYYY hh:mm:ss"}}
                </ng-container>
                <ng-template #fechaColumn>
                  <ng-container *ngIf="columnName === 'FECHA'; else otherColumn">
                    {{ item[columnName] | date : "dd/MM/YYYY hh:mm:ss" }}
                  </ng-container>
                  <ng-template #otherColumn>
                    {{ item[columnName] }}
                  </ng-template>
                </ng-template>
              </td>
            </tr>
          </tbody> -->

          <tbody>
            <tr *ngFor="let item of datos">
              <td *ngFor="let columnName of encabezados">
                <ng-container *ngIf="columnName === 'INICIO'; else fechaColumn">
                  <!-- Lógica para cuando el encabezado es "INICIO" -->
                  {{ item[columnName] | date : "dd/MM/YYYY hh:mm:ss"}}
                </ng-container>
                <ng-template #fechaColumn>
                  <ng-container *ngIf="columnName === 'FECHA'; else usuarioIdColumn">
                    <!-- Lógica para cuando el encabezado es "FECHA" -->
                    {{ item[columnName] | date : "dd/MM/YYYY hh:mm:ss" }}
                  </ng-container>
                  <ng-template #usuarioIdColumn>
                    <!-- <ng-container *ngIf="columnName === 'USUARIOID'; else otherColumn"> -->
                    <ng-container *ngIf="columnName === 'USUARIOID'; else otherColumn">
                      <!-- Lógica para cuando el encabezado es "USUARIOID" -->
                      <!-- <a href="['/ruta', item[columnName]]">{{ item[columnName] }}</a> -->
                      <mat-button-toggle-group>
                        <mat-button-toggle (click)="DesloguearUsuario(item[columnName])">
                          <mat-icon class="text-success" title="Desloguear Agente">exit_to_app</mat-icon>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                    </ng-container>
                    <ng-template #otherColumn>
                      <!-- Lógica para otros encabezados que no son ni "INICIO", "FECHA" ni "USUARIOID" -->
                      {{ item[columnName] }}
                    </ng-template>
                  </ng-template>
                </ng-template>
              </td>
            </tr>
          </tbody>


        </table>


      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="graficoID == 1">
    <mat-card-header></mat-card-header>
    <!-- [scheme]="colorScheme" -->
    <mat-card-content>
      <!-- <ngx-charts-bar-vertical-2d
            [view]="view"
            
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [legendTitle]="legendTitle"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d> -->

      <!-- [scheme]="colorScheme" -->
      <!-- [xAxisLabel]="xAxisLabel" -->
      <ngx-charts-bar-vertical [view]="view" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </mat-card-content>
  </mat-card>
</div>