<!-- {{ModuloId}}  -->
<div class="container mt-4">
    <mat-card>
        <mat-card-header>
            <button mat-icon-button color="accent" routerLink="/administracion/modulos">
                <mat-icon>keyboard_return</mat-icon>
            </button>
            <h2>Lista de vistas de <b>{{ModuloName}}</b></h2>
        </mat-card-header>

        <mat-card-content>
            <div class="table-responsive">
                <mat-form-field class="w-100 mat-form-field-underline-none">
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="Filtrar($event)" #input>
                </mat-form-field>
               <table mat-table [dataSource]="DataSource" matSort class="w-100">
                <ng-container matColumnDef="VISTA">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Vista</th>
                    <td mat-cell *matCellDef="let vista">{{vista.VISTA}}</td>
                </ng-container>
                <ng-container matColumnDef="V_URL">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>URL de la vista</th>
                    <td mat-cell *matCellDef="let vista">{{vista.V_URL}}</td>
                </ng-container>
                <!-- <ng-container matColumnDef="MODULOID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Modulo</th>
                    <td mat-cell *matCellDef="let vista">{{vista.MODULOID}}</td>
                </ng-container> -->
                <ng-container matColumnDef="CREACION">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha creacion</th>
                    <td mat-cell *matCellDef="let vista">{{vista.CREACION | date:'dd/MM/YYYY'}}
                        {{vista.CREACION | date:'hh:mm:ss'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="ACTUALIZACION">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha actualizacion</th>
                    <td mat-cell *matCellDef="let vista">{{vista.ACTUALIZACION | date:'dd/MM/YYYY'}}
                        {{vista.ACTUALIZACION | date:'hh:mm:ss'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="OPCIONES">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Opciones</th>
                    <td mat-cell *matCellDef="let vista">
                        <mat-button-toggle-group>
                            <mat-button-toggle>
                                <mat-icon class="text-primary" (click)="ActualizarVista(vista)">edit</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="Columnas"></tr>
                <tr mat-row *matRowDef="let row; Columns:Columnas"></tr>
                <tr class="mat-row" *matNoDataRow="">
                    <td class="mat-cell" colspan="6">No hay vistas registradas</td>
                </tr>
               </table>
                <mat-paginator [pageSizeOptions]="[10,20,50,100]" [pageSize]="10"></mat-paginator>
            </div>
        </mat-card-content>
        <mat-card-actions class="pull-to-end">
            <button mat-raised-button class="bgops-indigo txtwhite" (click)="CrearVista(ModuloId)">Crear vista</button>
        </mat-card-actions>
    </mat-card>
</div>