<div class="container mt-4">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>Formulario de creacion de cartera</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>


            <mat-vertical-stepper [linear]="true" #stepper [animationDuration]="'100'">

              <!-- PASO DE REGISTRO DE CARTERA -->
                <mat-step [stepControl]="firstFormGroup" [completed]="StepOneCompleted">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Ingrese el nombre y el tipo de la cartera</ng-template>
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Cartera" formControlName="NombreCartera" required>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-select formControlName="TipoCartera" required>
                            <mat-option></mat-option>
                            <mat-option 
                                *ngFor="let opcion of ListaCarterasTipos" 
                                [value]="opcion.TIPOCARTERAID"
                            >
                            {{opcion.TIPOCARTERA}}
                            </mat-option>                            
                        </mat-select>

                        
                    </mat-form-field>

                    
                    <div>
                      <button mat-raised-button class="bgops-indigo txtwhite" *ngIf="!StepOneCompleted" (click)="CrearCartera()">Crear</button>
                      <button mat-raised-button class="bg-success txtwhite" matStepperNext *ngIf="StepOneCompleted">Siguiente</button>
                    </div>
                  </form>
                </mat-step>
                <!-- PASO DE REGISTRO DE CARTERA -->

                <!-- CARGA DE ARCHIVO DE CARTERA -->
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Cargar archivo</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="Address" formControlName="secondCtrl" required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  You are now done.
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
                <!-- CARGA DE ARCHIVO DE CARTERA -->


              </mat-vertical-stepper>


              <div *ngIf="!LoadingFile">
                <div class="w-100">
                  <mat-label>Seleccionar el archivo para la cartera</mat-label><br>
                  <button mat-button>
                    <mat-icon>attach_file</mat-icon>
                    Cargar archivo
                    <input type="file" #archivoInput (change)="convertirExcelToJson()">
                  </button>          
                </div>
  
                <mat-divider class="m-4"></mat-divider>                
  
                <div *ngIf="Encabezados.length > 0">
  
                  <div class="alert alert-info">
                    Seleccion de datos obligatorios para la creacion de una cartera
                  </div>
  
                  <div class="row">                       
                    <div class="col-md-6">
                      <mat-form-field class="w-100">
                        <mat-label>Cuenta sistema</mat-label>
                        <mat-select [(ngModel)]="EncCuenta" >
                          <mat-option></mat-option>
                          <mat-option *ngFor="let enc of Encabezados"  [value]="enc">{{enc}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <h2>Ejemplo: {{jsonData[0][EncCuenta]}} </h2>
                    </div>
                  </div>
  
                  <mat-divider></mat-divider>
  
                  <div class="row"> 
                    <div class="col-md-6">
                      <mat-form-field class="w-100">
                        <mat-label>Identidad Cliente</mat-label>
                        <mat-select [(ngModel)]="EncIdentidad" >
                          <mat-option></mat-option>
                          <mat-option *ngFor="let enc of Encabezados" [value]="enc">{{enc}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <h2>Ejemplo: {{jsonData[0][EncIdentidad]}}</h2>
                    </div>
                  </div>
  
                  <mat-divider></mat-divider>
  
                  <div class="row"> 
                    <div class="col-md-6">
                      <mat-form-field class="w-100">
                        <mat-label>Nombre Cliente</mat-label>
                        <mat-select [(ngModel)]="EncNombre" >
                          <mat-option></mat-option>
                          <mat-option *ngFor="let enc of Encabezados" [value]="enc">{{enc}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <h2>Ejemplo: {{jsonData[0][EncNombre]}}</h2>
                    </div>
                  </div>
                </div>               
                

                <button (click)="sendCsv()" mat-raised-button color="primary">Cargar</button>
                <button mat-raised-button color="warn" *ngIf="LoadingProcess">Cancelar</button>

                <div *ngIf="CargandoCarteraPorcentaje >0">
                  <p>Cargando cartera...</p>
                  <mat-progress-bar                   
                  [value]="CargandoCarteraPorcentaje"
                  color="primary"
                  mode="buffer"
                  [bufferValue]="bufferPercentage">
                </mat-progress-bar>
                </div>


              </div>

              <div *ngIf="LoadingFile">
                <mat-spinner></mat-spinner>
              </div>
              
               

              


        </mat-card-content>
    </mat-card>
</div>
