<mat-drawer-container class="nav-container" autosize="">
  <mat-drawer #drawer class="sidenav" mode="side">
    <div *ngIf="isLogged">
      <div class="logo-toolbar p-2" style="justify-content: center;text-align: center;">
        <img src="../assets/img/logo1.png" style="width: 150px; height: auto;">
      </div>

      <mat-divider class="mt-4"></mat-divider>  
      

      <mat-accordion>
        <mat-expansion-panel *ngFor="let modulo of modulos">
          <mat-expansion-panel-header>
            <mat-panel-description>
              {{modulo}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div *ngFor="let permiso of permisos">
            <a 
              mat-button 
              color="primary" 
              *ngIf="permiso.MODULO == modulo"
              routerLink="{{modulo | lowercase}}/{{permiso.VISTA | lowercase}}"
            >
              {{permiso.VISTA}}
            </a>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar class="bgops-indigo txtwhite barra-tareas">
  
      <button mat-icon-button *ngIf="isLogged" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="./inicio" mat-button class="txtwhite">{{title}}</a>
      <!--<div class="timer">
         Tiempo operativo:  {{ elapsedTime }} 
      </div>-->
      <div class="timer"></div>
      <span class="barra-tareas-separador"></span>
      <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLogged">{{username}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/perfil-usuario">Perfil</button>
        <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesion</button>        
      </mat-menu>
      <button *ngIf="isLogged" mat-icon-button class="txtops-chartreuse" (click)="AbrirEstados()"><mat-icon>av_timer</mat-icon></button>
    
  </mat-toolbar>
  <router-outlet></router-outlet>
  </div>

</mat-drawer-container>




