/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*CONFIGURACION PERSONALIZADA*/
/*Colores*/

.txtops-indigo{
    color:#12293f !important;
}
.txtops-chartreuse{
    color:#dfff00 !important;
}
.txtops-gray{
    color:#616161 !important;
}
.txtwhite{
    color: #FFFFFF !important;
}
.bgops-indigo{
    background-color: #12293f !important;
}
.bgops-chartreuse{
    background-color: #dfff00 !important;
}
.bgops-gray{
    background-color: #616161 !important;
}
.bgwhite{
    background-color: #FFFFFF !important;
}

.pull-to-end{
    justify-content: flex-end;
}

