<div class="mx-5 mt-4">
    <mat-card>
        <mat-card-header>
            <button style="margin-top: -5px;" mat-icon-button color="accent" (click)="Cancelar()">
                <mat-icon>keyboard_return</mat-icon>
            </button>
            <h2>Editar el monitor <b>{{monitor}}</b> con id de cartera <b>{{carteraID}}</b></h2>
        </mat-card-header>
        <mat-card-content>
            <!-- <p>
                {{query}}
            </p> -->
            <!-- <mat-form-field>
                <mat-label>Query</mat-label>
                <textarea name="" id="" cols="30" rows="10">{{query}}</textarea>
            </mat-form-field> -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field class="w-100">
                                <mat-label>Nombre del monitor</mat-label>
                                <input matInput [(ngModel)]="monitor" type="text" required="" />
                            </mat-form-field>
                        </div>
    
    
                        <!-- <mat-checkbox [(ngModel)]="filtroFecha">Filtro por Fecha</mat-checkbox> -->
    
                        <!-- <label id="example-radio-group-label">Tipo de Grafico</label>
    
                        <mat-radio-group aria-label="Tipo de monitor" [(ngModel)]="tipoMonitor">
                            <mat-radio-button value="0">Tabla</mat-radio-button>
                            <mat-radio-button value="1">Grafico de barras</mat-radio-button>
                        </mat-radio-group> -->
    
                        <div class="col-lg-6">
                            <label id="example-radio-group-label">Tipo de monitor*</label>
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                [(ngModel)]="tipoMonitor" required="">
                                <!-- @for (season of seasons; track season) { -->
                                <mat-radio-button class="" [value]="0">Tabla</mat-radio-button>
                                <mat-radio-button class="" [value]="1">Grafico de barras</mat-radio-button>
                                <!-- } -->
                            </mat-radio-group>
                        </div>
                    </div>



                </div>
                <div class="col-lg-12">
                    <mat-form-field class="example-form w-100">
                        <mat-label>Query</mat-label>
                        <textarea matInput [(ngModel)]="query" rows="16" class="custom-textarea" required=""
                            style="resize: none;">
                            {{query}}
                        </textarea>
                    </mat-form-field>
                </div>


            </div>

        </mat-card-content>
        <mat-card-actions class="mb-2">
            <button mat-raised-button class="bgops-indigo txtwhite mx-2" type="submit" (click)="actualizarMonitor()">
                Guardar
            </button>
            <button mat-raised-button color="warn" type="submit" (click)="Cancelar()">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</div>